html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
#gameboard {
    width: 100%;
    height: 100%;
    background-color: #AAAAAA;
    position: relative;
}
#cameraViewer {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: relative;
}