html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    user-select: none;
    -webkit-user-select: none;
}
#gameboard {
    width: 100%;
    height: 100%;
    background-color: #AAAAAA;
    position: relative;
    overflow: hidden;
}
#cameraViewer {
    width: 300vh;
    height: 100%;
    background: url(https://res.cloudinary.com/dohbq0tta/image/upload/v1763495632/Desk_1_saiaxu.jpg) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    transition-duration: 0.5s;
}
.Ind {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    width: 70px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
#LeftInd {
    left: 10px;
}
#RightInd {
    right: 10px;
}
.stretch-t {
    display: inline-block;
    transform: scaleY(6);
}