:root {
	--bg: #0f1724;
	--card: #0b1220;
	--accent: #7dd3fc;
	--text: #e6eef8;
	--muted: rgba(230,238,248,.7);
}
* {
	padding: 0;
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
}
body {
	background: var(--bg);
	color: var(--text);
	font-family: "Arial", monospace;
}
nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #CCCCCC;
	overflow: hidden;
	box-shadow: 0px 0px 3px 5px #999999;
	display: flex;
}
nav a {
	font-family: "Arial", monospaced;
	display: table-cell;
	vertical-align: bottom;
	padding: 0px 20px;
	cursor: pointer;
	transition-duration: 0.2s;
	background-color: #BBBBBB;
	box-shadow: 0px 0px 3px 5px #BBBBBB;
	color: black;
	text-decoration: none;
}
nav a:hover {
	background-color: #AAAAAA;
	box-shadow: 0px 0px 3px 5px #AAAAAA;
}
nav a:active {
	cursor: default;
}
nav a p {
	line-height: 60px;
}

#logo {
	height: 60px;
	user-select: none;
}
#gameSelector {
	margin-top: 20px;
	padding: 0px 10px;
	width: calc(100% - 20px);
	overflow-x: wrap;
	overflow-wrap: normal;
	overflow-y: auto;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	float: right;
	border-bottom: solid black 2px;
	margin-bottom: 10px;
}
#gameSelector a {
  text-decoration: none;
}
.item {
	width: 120px;
	height: 120px;
	background: url(https://www.tostitos.com/sites/tostitos.com/files/2021-11/J16906_516374_FL_Tostitos_Dips_ChunkySalsaMedium_3D.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 5px;
	display: block;
	border-radius: 6px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.item:hover {
	box-shadow: 0px 0px 3px 5px #FFFFFF;
	background-color: #FFFFFF;
}
.item:active {
	cursor: default;
}
.item h3 {
	background-color: #CCCCCC;
	padding: 5px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	color: black;
	font-family: "Arial", monospace;
}
#about {
}
.title {
	margin-left: 20px;
	font-size: 2em;
	font-weight: bold;
	color: white;
	font-family: "Arial", monospace;
}
#aboutText {
	color: white;
	margin-left: 30px;
	width: 60%;
	margin-top: 10px;
	font-family: "Arial", monospace;
}
footer {
	color: white;
	margin-top: 20px;
	padding: 50px;
	border-top: solid black 2px;
	font-family: "Arial", monospace;
}